body {
    color: goldenrod;
    background-color: beige;
    font-size: 14pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    color: cadetblue;
    text-decoration: none;
}

a:hover {
    color: chocolate;
    text-decoration: underline;
    font-size: 16pt;
}
h1,
h2,
h4 {
    font-size: 19pt;
}
